@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#logo-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25%;
  margin-bottom: 1%;
}

#fh-logo-app {
  margin-left: 2%;
}

#app-title {
  margin-right: 2.5%;
  margin-top: 2%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #0099CC !important;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #0078A1 !important;
}

.row_element {
  text-align: center;
}

.row_field {
  width: 100% !important;
}

.form-group {
  width: 100%;
}

.field_number {
  text-align: right;
  margin-top: 12px;
}

.panel-info {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1.5%;
}

.panel-content {
  margin-right: 3%;
  margin-left: 3%;
}

.panel-subtext {
  color: white;
}

.panel-heading {
  margin-bottom: 1%;
  background-color: #0099CC !important;
  border-color: #0099CC !important;
}

.panel-title {
  color: white !important;
}

.psych-hosp-table {
  margin-right: 5%;
  margin-bottom: 0.5%;
}

.hosp_precip_field {
  margin-top: 1%;
  margin-bottom: 1%;
}

label {
  font-weight: bold !important;
}

label[for="ever_in_treatment"] {
  margin-top: 2%;
}

label[for="work_notes"] {
  margin-top: 2%;
}

#hosp-count {
  width: 10%;
}

.hide-element {
  display: none;
}

.position-right {
  float: right;
  margin-right: 35%;
}

.position-left {
  float: left;
}

.left-right-container {
  overflow: hidden;
  margin-bottom: 1.5%;
}

#cage-aid .position-right {
  float: right;
  margin-right: 20%;
}
